<!DOCTYPE html>
<html>
  <head>
    <style>
body {background-color: powderblue;}
h1   {color: blue;font-family:verdana;}
p    {color: red;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
    <meta charset="utf-8">
    <title>Flask intro</title>
  </head>
  <body >
    <h1 style="background-color:white;">Flask cmn intro clgt C4E15</h1>
    <h1 style="background-color:red;">Hello World</h1>
    <form>
  Enter your name for no reason:<br>
  <input type="text" name="firstname"><br>
  Your favourite food?:<br>
  <input type="text" name="lastname">
</form>
    <table style="width:50%;background-color:White;" align = "center">
  <tr>
    <th>Họ</th>
    <th>Tên</th>
    <th>Tuổi</th>
    <th>Nghề nghiệp</th>
    <th>Sở thích</th>
  </tr>
  <tr>
    <td>Nguyễn Ngọc</td>
    <td>Bách</td>
    <td>19</td>
    <td>Sinh viên</td>
    <td>Ăn</td>
  </tr>
</table>
<a href="https://www.facebook.com/bach.nguyenngoc.3/about?lst=100001025701951%3A100001025701951%3A1519658357" target="_blank">
  <img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" alt="Click here for more information!" style="width:142px;height:142px;border:0;">
</a>
<p>Click the image for more information!</p>
  </body>
</html>
