<!DOCTYPE html>
<html>
  <head>
    <style>
body {background-color: powderblue;}
h1   {color: blue;font-family:verdana;}
p    {color: red;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
    <meta charset="utf-8">
    <title>Flask intro</title>
  </head>
  <body >
    <h1 style="background-color:white;">Flask cmn intro clgt C4E15</h1>
    <h1 style="background-color:red;">Hello World</h1>
    <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form>
    <table style="width:100%;background-color:Green;">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>
<iframe src="http://dantri.com.vn/"height="1200" width="1300"></iframe>
<iframe src="http://localhost:5000/blog"height="1200" width="1300"></iframe>
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
<img src="http://i0.kym-cdn.com/photos/images/original/000/581/296/c09.jpg" width="128" height="128">
  </body>
</html>
